* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    color: #F7F7F7;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    min-height: 100vh;
    min-width: 100vw;

    header {
        background-color: #7E7E7E;
    }


    .navbar {
        font-size: 120%;

        img {
            width: 7.5vw;
        }

        .pt-5 {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li {
                max-width: 20%;
                margin: 0 3vw;

                &:first-child a:before {
                    content: none;
                }

                a {
                    background-image: linear-gradient(to right,
                            #85b7bc,
                            #85b7bc 50%,
                            #F7F7F7 50%);
                    background-size: 200% 100%;
                    background-position: -100%;
                    display: inline-block;
                    padding: 5px 0;
                    position: relative;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease-in-out;

                    &:before {
                        content: '';
                        background: #f29201;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        background-position: 0;

                        &:before {
                            width: 100%;
                        }
                    }
                }




            }
        }
    }

    footer {
        margin-top: auto;
        background-color: #7E7E7E;
        width: 100%;
        min-height: auto;
        align-items: center;

        aside {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                justify-content: space-around;
                margin: 0 2%;
                width: 100px;
                li{
                    text-decoration: none;
                    list-style: none;
                }
            }
        }
    }
}